* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Kekalkan latar belakang putih */
  background-color: #ffffff; 
}

#root {
  width: 100%;
  max-width: none; /* MEMBUANG RUANG KOSONG DI KANAN */
  margin: 0;
  padding: 0;
  text-align: left;
}